<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Listagem Pokémon</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap" rel="stylesheet" />

		<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">
	</head>
	<body>
		<header>
			<a href="#">
				<img src="{{ url_for('static', filename='imagens/pokeball.png') }}" alt="pokebola" class="logo" />
			</a>
			<button id="botao-alterar-tema">
				<img src="{{ url_for('static', filename='imagens/sun.png') }}" alt="imagem do sol" class="imagem-botao" />
			</button>
		</header>
		<main>
			<ul class="listagem-pokemon">
				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Bulbasaur</span>
						<span>#001</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/bulbasaur.gif') }}" alt="Bulbasaur" class="gif" />

					<ul class="tipos">
						<li class="tipo grama">Grama</li>
						<li class="tipo veneno">Veneno</li>
					</ul>

					<p class="descricao">Há uma semente de planta em suas costas desde o dia que este Pókemon nasce. A semente cresce lentamente.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Ivysaur</span>
						<span>#002</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/ivysaur.gif') }}" alt="Ivysaur" class="gif" />

					<ul class="tipos">
						<li class="tipo grama">Grama</li>
						<li class="tipo veneno">Veneno</li>
					</ul>

					<p class="descricao">Quando o bulbo em suas costas cresce, parece perder a capacidade de ficar de pé em suas patas traseiras.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Venusaur</span>
						<span>#003</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/venusaur.gif') }}" alt="Venusaur" class="gif" />

					<ul class="tipos">
						<li class="tipo grama">Grama</li>
						<li class="tipo veneno">Veneno</li>
					</ul>

					<p class="descricao">Sua planta floresce quando está absorvendo energia solar. Ele permanece em movimento para buscar a luz solar.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Charmander</span>
						<span>#004</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/charmander.gif') }}" alt="Charmander" class="gif" />

					<ul class="tipos">
						<li class="tipo fogo">Fogo</li>
					</ul>

					<p class="descricao">Tem preferência por coisas quentes. Quando chove, diz-se que o vapor jorra da ponta de sua cauda.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Charmeleon</span>
						<span>#005</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/charmeleon.gif') }}" alt="Charmeleon" class="gif" />

					<ul class="tipos">
						<li class="tipo fogo">Fogo</li>
					</ul>

					<p class="descricao">Tem uma natureza bárbara. Na batalha, ele chicoteia sua cauda ardente e corta com garras afiadas.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Charizard</span>
						<span>#006</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/charizard.gif') }}" alt="Charizard" class="gif" />

					<ul class="tipos">
						<li class="tipo fogo">Fogo</li>
						<li class="tipo voador">Voador</li>
					</ul>

					<p class="descricao">Ele cospe fogo que é quente o suficiente para derreter pedregulhos. Pode causar incêndios florestais soprando chamas.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Squirtle</span>
						<span>#007</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/squirtle.gif') }}" alt="Squirtle" class="gif" />

					<ul class="tipos">
						<li class="tipo agua">Água</li>
					</ul>

					<p class="descricao">Quando ele retrai seu longo pescoço em sua concha, ele esguicha água com força vigorosa.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Wartortle</span>
						<span>#008</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/wartortle.gif') }}" alt="Wartortle" class="gif" />

					<ul class="tipos">
						<li class="tipo agua">Água</li>
					</ul>

					<p class="descricao">É reconhecido como um símbolo de longevidade. Se sua concha tem algas, esse Wartortle é muito antigo.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Blastoise</span>
						<span>#009</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/blastoise.gif') }}" alt="Blastoise" class="gif" />

					<ul class="tipos">
						<li class="tipo agua">Água</li>
					</ul>

					<p class="descricao">Ele esmaga seu inimigo sob seu corpo pesado para causar desmaios. Em uma pitada, ele se retirará dentro de sua concha.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Caterpie</span>
						<span>#010</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/caterpie.gif') }}" alt="Caterpie" class="gif" />

					<ul class="tipos">
						<li class="tipo inseto">Inseto</li>
					</ul>

					<p class="descricao">Para proteção, ele libera um fedor horrível da antena em sua cabeça para afastar os inimigos.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Metapod</span>
						<span>#011</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/metapod.gif') }}" alt="Metapod" class="gif" />

					<ul class="tipos">
						<li class="tipo inseto">Inseto</li>
					</ul>

					<p class="descricao">Este POKéMON é vulnerável a ataques enquanto sua casca é mole, expondo seu corpo fraco e macio.</p>
				</li>>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Butterfree</span>
						<span>#012</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/butterfree.gif') }}" alt="Butterfree" class="gif" />

					<ul class="tipos">
						<li class="tipo inseto">Inseto</li>
						<li class="tipo voador">Voador</li>
					</ul>

					<p class="descricao">Em batalha, ele bate as asas em alta velocidade para liberar poeira altamente tóxica no ar.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Weedle</span>
						<span>#013</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/weedle.gif') }}" alt="Weedle" class="gif" />

					<ul class="tipos">
						<li class="tipo inseto">Inseto</li>
						<li class="tipo veneno">Veneno</li>
					</ul>

					<p class="descricao">Freqüentemente encontrado em florestas, comendo folhas. Ele tem um ferrão venenoso afiado em sua cabeça.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Kakuna</span>
						<span>#014</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/kakuna.gif') }}" alt="Kakuna" class="gif" />

					<ul class="tipos">
						<li class="tipo inseto">Inseto</li>
						<li class="tipo veneno">Veneno</li>
					</ul>

					<p class="descricao">Quase incapaz de se mover, este POKÉMON só consegue endurecer sua carapaça para se proteger de predadores.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Beedrill</span>
						<span>#015</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/beedrill.gif') }}" alt="Beedrill" class="gif" />

					<ul class="tipos">
						<li class="tipo inseto">Inseto</li>
						<li class="tipo veneno">Veneno</li>
					</ul>

					<p class="descricao">Voa em alta velocidade e ataca usando seus grandes ferrões venenosos nas patas dianteiras e na cauda.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Pidgey</span>
						<span>#016</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/pidgey.gif') }}" alt="Pidgey" class="gif" />

					<ul class="tipos">
						<li class="tipo normal">Normal</li>
						<li class="tipo voador">Voador</li>
					</ul>

					<p class="descricao">Uma visão comum em florestas e bosques. Ele bate as asas no nível do solo para chutar a areia ofuscante.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Pidgeotto</span>
						<span>#017</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/pidgeotto.gif') }}" alt="Pidgeotto" class="gif" />

					<ul class="tipos">
						<li class="tipo normal">Normal</li>
						<li class="tipo voador">Voador</li>
					</ul>

					<p class="descricao">Muito protetor de sua extensa área territorial, este POKéMON bicará ferozmente qualquer intruso.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Pidgeot</span>
						<span>#018</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/pidgeot.gif') }}" alt="Pidgeot" class="gif" />

					<ul class="tipos">
						<li class="tipo normal">Normal</li>
						<li class="tipo voador">Voador</li>
					</ul>

					<p class="descricao">Ao caçar, ele roça a superfície da água em alta velocidade para pegar presas incautos, como MAGIKARP.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Rattata</span>
						<span>#019</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/rattata-f.gif') }}" alt="Rattata" class="gif" />

					<ul class="tipos">
						<li class="tipo normal">Normal</li>
					</ul>

					<p class="descricao">Morde qualquer coisa quando ataca. Pequeno e muito rápido, é uma visão comum em muitos lugares.</p>
				</li>

				<li class="cartao-pokemon">
					<div class="informacoes">
						<span>Raticate</span>
						<span>#020</span>
					</div>

					<img src="{{ url_for('static', filename='imagens/raticate-f.gif') }}" alt="Raticate" class="gif" />

					<ul class="tipos">
						<li class="tipo normal">Normal</li>
					</ul>

					<p class="descricao">Ele usa seus bigodes para manter o equilíbrio. Aparentemente fica mais lento se eles forem cortados.</p>
				</li>
			</ul>
		</main>
	</body>
</html>
