<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pokémon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos1.css') }}">
</head>
<body>
    <h1>Lista Pokémon</h1>
        <div class="cartao-pokemon">
            <span class="informacoes">Nome: {{ poke1.nome }}<br>Tipo: {{ poke1.tipo }}</span>
            <img src="{{ url_for('static', filename=poke1.img) }}" alt="{{ poke1.nome }}" class="gif" />
        </div>

</body>
</html>
